name: Publish to pub.dev

on:
  push:
    tags:
    # Must align with the tag-pattern configured on pub.dev.
    - 'v[0-9]+.[0-9]+.[0-9]+*'

# Publish using the reusable workflow from dart-lang.
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for authentication using OIDC
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter pub publish --dry-run
      - run: flutter pub publish --force
